clip==0.2.0
controlnet_aux==0.0.8
diffusers==0.19.3
einops==0.7.0
imageio==2.22.4
kornia==0.7.1
numpy==1.22.4
omegaconf==2.2.3
openai==1.12.0
opencv-python==4.6.0.66
torch==2.0.0+cu118
torchmetrics==0.10.2
torchvision==0.13.0+cu113
tqdm==4.61.2
transformers==4.29.2